brotli==1.1.0
ConfigParser==6.0.0
cryptography==42.0.4
Cython==3.0.8
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
importlib_metadata==6.1.0
keyring==23.13.1
lockfile==0.12.2
lxml==5.1.0
numpy
ordereddict==1.1
pandas
protobuf==4.25.3
pyOpenSSL==24.0.0
pytest==8.0.1
scikit_learn
thread
toml==0.10.2
tornado==6.2
zipp==3.15.0
